html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #dcdcdc;
  background-image: url("../assets/background.svg");
}

.quote-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 80vw;
  margin: auto;
  align-content: center;
}

#quote {
  font-weight: 500;
  font-size: 4rem;
}

#author {
  display: flex;
  justify-content: end;
  font-weight: 400;
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
  color: #06113c;
  align-content: flex-end;
  margin-top: 20px;
  font-family: Teko, serif;
}

.fa-solid {
  font-size: 4rem;
  position: relative;
  top: -0.5rem;
}

.next-btn {
  background-color: rgba(128, 128, 128, 0.25);
  border: none;
  padding: 0.5rem;
  margin: auto;
  font-family: Teko, serif;
  font-size: 2rem;
  text-align: center;
  display: block;
  min-width: 10vw;
}

.next-btn:hover {
  background-color: rgba(6, 17, 60, 0.5);
  border-radius: 100vh;
  transition: color 2500ms linear;
  transition: background-color 250ms linear, border-radius 2500ms linear;
  color: #dcdcdc;
}
